/* You can add global styles to this file, and also import other style files */
.btn {
  margin: 10px;
  margin-top: 0;
  color: white;
  background-color: rgb(44, 176, 253);
  border: 2px solid rgb(0 161 255);
  border-radius: 5px;
}

.btn-danger {
  margin: 10px;
  margin-top: 0;
  color: white;
  background-color: rgb(252, 104, 104);
  border: 2px solid rgb(252, 104, 104);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin: 10px;
  font-weight: bold;
}

.field input {
  margin: 10px;
  margin-top: 0;
  height: 20px;
  border-radius: 5px;
}
